.students-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .students-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .add-student-button {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; 
    margin-bottom: 10px;
  }
  
  .add-student-button:hover {
    background-color: #0056b3;
  }
  
  .students-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .students-table th,
  .students-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .students-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .students-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .students-table tr:hover {
    background-color: #ddd;
  }
  
  .student-link {
    padding: 5px 20px;
    background-color: #2da877;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block; 
  }
  
  .student-link:hover {
    background-color: #258b62;
  }